
/* global.css */
 
@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* width */
::-webkit-scrollbar {
    width: 6px;
    
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@layer utilities {
    /* hide scrollbar from chrome, safari and opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* hide scroll bar for IE , Edg and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  
        scrollbar-width: none;
    }
}